In [1]:
import pandas as pd

In [2]:
csv_path = "purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(csv_path)

In [4]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Total # of players
player_array = purchase_data["SN"].unique()
player_array 

player_count = len(player_array)
player_count

players = pd.DataFrame({"Number of Players":[player_count]})
players

   Number of Players
0                576

In [6]:
#Purchasing Analysis (Total)
#Number of Unique Items

unique_item_array = purchase_data["Item ID"].unique()
unique_item_array

unique_item_count = len(unique_item_array)
unique_item_count

183

In [7]:
#Average Purchase Price
average_price = purchase_data["Price"].mean()
average_price = round(average_price, 2)
average_price

3.05

In [8]:
#Total Number of Purchases
total_purchase = purchase_data["Purchase ID"].count()
total_purchase

780

In [9]:
#Total Revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [10]:
#DataFrame
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items":[unique_item_count],
                                             "Average Purchase Price":[average_price],
                                            "Total Number of Purchases":[total_purchase],
                                             "Total Revenue":[total_revenue]})

purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].apply(lambda x: '$' + str(x))
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].apply(lambda x: '$' + str(x))

purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

In [11]:
#Gender Demographics

#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

male_count = purchase_data[purchase_data.Gender == 'Male'].drop_duplicates(subset = ['SN']).shape[0]
female_count = purchase_data[purchase_data.Gender == 'Female'].drop_duplicates(subset = ['SN']).shape[0]
nd_count = purchase_data[purchase_data.Gender == 'Other / Non-Disclosed'].drop_duplicates(subset = ['SN']).shape[0]

percent_male = male_count/player_count
percent_male = '{:.2%}'.format(percent_male)

percent_female = female_count/player_count
percent_female = '{:.2%}'.format(percent_female)

percent_nd = nd_count/player_count
percent_nd = '{:.2%}'.format(percent_nd)

In [12]:
gender_df = pd.DataFrame({"Total Count":[male_count, female_count, nd_count], "Percentage of Players":[percent_male, percent_female, percent_nd]})
gender_df.index = ['Male', 'Female', 'Non-Disclosed']
gender_df

               Total Count Percentage of Players
Male                   484                84.03%
Female                  81                14.06%
Non-Disclosed           11                 1.91%

In [13]:
#Purchasing Analysis (Gender) The below each broken by gender

#Purchase Count
purchase_by_gender = purchase_data.groupby("Gender")["Purchase ID"].count()
purchase_by_gender

female_purchase = purchase_by_gender[0]
female_purchase

male_purchase = purchase_by_gender[1]
male_purchase

nd_purchase = purchase_by_gender[2]
nd_purchase

15

In [14]:
#Average Purchase Price
price_gender_average = purchase_data.groupby("Gender")["Price"].mean()
price_gender_average = price_gender_average
price_gender_average

female_price_average = price_gender_average[0]
female_price_average.round(2)

male_price_average = price_gender_average[1]
male_price_average.round(2)

nd_price_average = price_gender_average[2]
nd_price_average.round(2)

3.35

In [15]:
#Total Purchase Value
total_purchase_value_by_gender = purchase_data.groupby("Gender")["Price"].sum()
total_purchase_value_by_gender

female_value = total_purchase_value_by_gender[0]
female_value = female_value.round(2)


male_value = total_purchase_value_by_gender[1]
male_value = male_value.round(2)


nd_value = total_purchase_value_by_gender[2]
nd_value = nd_value.round(2)

In [16]:
#Average Purchase Total per Person by Gender

fem_avg = female_value / female_count
fem_avg.round(2)

male_avg = male_value / male_count
male_avg.round(2)

nd_avg = nd_value / nd_count
nd_avg.round(2)

4.56

In [17]:
purchase_analysis_by_gender = pd.DataFrame({"Purchase Count":[female_purchase, male_purchase, nd_purchase], "Average Purchase Price":[female_price_average.round(2), male_price_average.round(2), nd_price_average.round(2)], "Total Purchase Value":[female_value, male_value, nd_value], "Average Total Purchase per Person":[fem_avg.round(2), male_avg.round(2), nd_avg.round(2)]})
purchase_analysis_by_gender.index = ["Female", "Male", "Non-Disclosed"]

purchase_analysis_by_gender['Average Purchase Price'] = purchase_analysis_by_gender['Average Purchase Price'].apply(lambda x: '$' + str(x))
purchase_analysis_by_gender['Total Purchase Value'] = purchase_analysis_by_gender['Total Purchase Value'].apply(lambda x: '$' + str(x))
purchase_analysis_by_gender['Average Total Purchase per Person'] = purchase_analysis_by_gender['Average Total Purchase per Person'].apply(lambda x: '$' + str(x))

purchase_analysis_by_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
#Age Demographics

purchase_data = pd.DataFrame(purchase_data)
purchase_data

bins = [0,9,14,19,24,29,34,39,45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

pd.cut(purchase_data["Age"], bins, labels=age_ranges)
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=age_ranges)
purchase_data

age_group = purchase_data.groupby("Age Groups")
total_age_count = age_group["SN"].nunique()

age_group_percentage = (total_age_count/player_count) * 100
age_group_percentage = round(age_group_percentage, 2)

age_demographics = pd.DataFrame({"Total Count": total_age_count, "Percentage of Players": age_group_percentage})
age_demographics.index.name = None

age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].apply(lambda x: str(x)+'%')
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
>=40            12                 2.08%

In [19]:
#Purchase Count
purchase_count_pp = purchase_data.groupby("Age Groups")['SN'].count()
purchase_count_pp

#Average Purchase Price
average_pp = purchase_data.groupby("Age Groups")['Price'].mean()
average_pp = round(average_pp,2)
average_pp

#Total Purchase Value
sum_pv = purchase_data.groupby("Age Groups")['Price'].sum()
sum_pv = round(sum_pv,2)
sum_pv

#Avg Total Purchase per Person
total_age_count = age_group["SN"].nunique()

Total_Purchase_pp = round((sum_pv)/(total_age_count),2)
Total_Purchase_pp

Age_df = pd.DataFrame({'Purchase Count': purchase_count_pp, 'Average Purchase Price': average_pp, 'Total Purchase Value': sum_pv, 'Avg Total Purchase per Person': Total_Purchase_pp})

Age_df['Average Purchase Price'] = Age_df['Average Purchase Price'].apply(lambda x: '$' + str(x))
Age_df['Total Purchase Value'] = Age_df['Total Purchase Value'].apply(lambda x: '$' + str(x))
Age_df['Avg Total Purchase per Person'] = Age_df['Avg Total Purchase per Person'].apply(lambda x: '$' + str(x))

Age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Groups,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
>=40,13,$2.94,$38.24,$3.19

In [20]:
age_demographics.head(10)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
>=40            12                 2.08%

In [21]:
#Top Spenders

#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
spenders = purchase_data.groupby("SN")["Price"].sum()
spenders = spenders.sort_values(ascending=False)
spenders.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [22]:
spenders_pc = purchase_data.groupby("SN")["Purchase ID"].count()
spenders_pc.head()

SN
Adairialis76    1
Adastirin33     1
Aeda94          1
Aela59          1
Aelaria33       1
Name: Purchase ID, dtype: int64

In [23]:
# Group purchase data by screen names
average_pp = purchase_data.groupby("SN")['Price'].mean()
average_pp = round(average_pp,2)
final = pd.merge(spenders, average_pp, left_on = 'SN', right_on = 'SN', how = 'outer')
final_final = pd.merge(final, spenders_pc, left_on = 'SN', right_on ='SN', how = 'outer')
final_final.head()

             Price_x  Price_y  Purchase ID
SN
Lisosia93      18.96     3.79            5
Idastidru52    15.45     3.86            4
Chamjask73     13.83     4.61            3
Iral74         13.62     3.40            4
Iskadarya95    13.10     4.37            3

In [30]:
#rename columns
final_final = final_final.rename(columns = {"Price_x" : "Total Purchase Value", "Price_y" : "Average Purchase Price", "Purchase ID" : "Purhcase Count"})

In [25]:
#then re-format missing $
final_final['Average Purchase Price'] = final_final['Average Purchase Price'].apply(lambda x: '$' + str(x))
final_final['Total Purchase Value'] = final_final['Total Purchase Value'].apply(lambda x: '$' + str(x))

final_final.head()

            Total Purchase Value Average Purchase Price  Purhcase Count
SN
Lisosia93                 $18.96                  $3.79               5
Idastidru52               $15.45                  $3.86               4
Chamjask73                $13.83                  $4.61               3
Iral74       $13.619999999999997                   $3.4               4
Iskadarya95                $13.1                  $4.37               3

In [26]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
#drop duplicate ids

df_data = purchase_data.drop_duplicates()
item_data = df_data.loc[:,["Item ID", "Item Name", "Price"]]

total_item_purchase = item_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
average_item_purchase = item_data.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = item_data.groupby(["Item ID", "Item Name"]).count()["Price"]

total_item_purchase = round(total_item_purchase,2)
average_item_purchase = round(average_item_purchase,2)

df = pd.DataFrame({"Purchase Count" : item_count, "Item Price": average_item_purchase, "Total Purchase Value": total_item_purchase})
df

items_pop = df.sort_values(by = ["Purchase Count"],ascending=False)

items_pop['Item Price'] = items_pop['Item Price'].apply(lambda x: '$' + str(x))
items_pop['Total Purchase Value'] = items_pop['Total Purchase Value'].apply(lambda x: '$' + str(x))
items_pop.head()

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.9,$44.1
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [27]:
#Most Profitable Items

#Identify the 5 most profitable items by total purchase value, then list (in a table):

items_pop = df.sort_values(by = ["Total Purchase Value"],ascending=False)
items_pop['Item Price'] = items_pop['Item Price'].apply(lambda x: '$' + str(x))
items_pop['Total Purchase Value'] = items_pop['Total Purchase Value'].apply(lambda x: '$' + str(x))
items_pop.head()


#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.8

In [29]:
# 3 observable trends: 
#1 - While the male demographic makes up the majority of players (84.03%), on average, female players spend slightly more than their male counterparts. Female players average spending $3.20, while men average at $3.02. For the total average per person the number goes up to $4.47 for females compared to $4.07 for males. 

#2 - The target demographic for Heroes of Pymoli is 20 to 24 year olds, with this age range holding 44.79% of all users. Players in this age range also spent the most money, with their total revenue coming to $1,114.06.

#3 - Both 'Nirvana' and 'Oathbreaker, Last Hope of the Breaking Storm' appear on the most profitable and the most popular items list. It would be interesting to see what else these two items have in common, in order to find out why these items sell so well.

In [ ]:
#As final considerations:

#You must use the Pandas Library and the Jupyter Notebook.
#You must submit a link to your Jupyter Notebook with the viewable Data Frames.
#You must include a written description of three observable trends based on the data.
#See Example Solution for a reference on expected format.